body {
  background-image: url("/image/102.jpg"); /* 画像 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  min-width: 1024px;
}

.wrap {
	overflow: hidden;
}

.top-wrapper {
  /* 上 | 右 | 下 | 左 */
  padding: 50px 0 60px 0;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 60px;
  letter-spacing: 10px;
  padding: 0 0 0 0;
  text-align: center;
  color:white;
  font-family:'Montserrat Subrayada', sans-serif;
  font-weight: 400;
  text-shadow: 3px 3px grey;
}



  .container {
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 10px 0 0 0;
}

.card{
  
}

.form-group {
  text-align: center;
  margin: 20px 0;
}


.bottom-container {
  text-align: center;
  color: white;
  margin: 40px 0 0 0;
}

/* .main {
  display: flex;
} */
